html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #dee1e3;
  }  
  body {
    margin-left: 30px;
  }
  h1 {
    font-size: 100px;
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #f8f9f9;
    width: 50%;
    padding-left:15px;
  }
  p {
    background-color: #f8f9f9;
    width: 50%;
    padding-left: 30px;
    border-radius: 20px; 
}